<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Benvenuto</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
      }
      .welcome-message {
        font-size: 2rem;
        color: #333;
      }
    </style>
  </head>
  <body>
    <div class="welcome-message">
      Benvenuto <span id="username">Utente</span>!
    </div>

    <script type="module" src="../static/js/profileAPI.js"></script>
  </body>
</html>
